In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('data/initial_data/train.csv')

In [6]:
df.describe()

,id,Decision,Neighbourhood,Accommodates,Bedrooms,Beds,Essentials,Cooking,Balcony,Parking,Number_of_reviews,Review_scores_rating
count,7471.000000,7471.000000,7471.000000,7471.000000,6886.000000,7458.000000,7471.000000,7471.000000,7471.000000,7471.000000,7471.000000,7076.000000
mean,3736.000000,0.633784,28793.443180,4.293267,1.837932,2.289890,4.723598,3.626824,0.632044,0.958506,87.481997,4.881412
std,2156.836263,0.481802,29.064001,2.762739,1.125600,1.738629,0.617703,1.627228,0.482282,0.199443,107.129371,0.238291
min,1.000000,0.000000,28704.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1868.500000,0.000000,28801.000000,2.000000,1.000000,1.000000,5.000000,3.000000,0.000000,1.000000,13.000000,4.850000
50%,3736.000000,1.000000,28804.000000,4.000000,1.000000,2.000000,5.000000,4.000000,1.000000,1.000000,50.000000,4.930000
75%,5603.500000,1.000000,28806.000000,6.000000,2.000000,3.000000,5.000000,5.000000,1.000000,1.000000,121.000000,4.990000
max,7471.000000,1.000000,28806.000000,16.000000,9.000000,18.000000,5.000000,5.000000,1.000000,1.000000,1059.000000,5.000000

In [7]:
df['Decision'].value_counts()

1    4735
0    2736
Name: Decision, dtype: int64