In [27]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn_pandas import CategoricalImputer

pd.options.display.max_columns = 50

ModuleNotFoundError: No module named 'sklearn_pandas'

In [5]:
df = pd.read_csv('data/initial_data/train.csv')

In [6]:
df.describe()

,id,Decision,Neighbourhood,Accommodates,Bedrooms,Beds,Essentials,Cooking,Balcony,Parking,Number_of_reviews,Review_scores_rating
count,7471.000000,7471.000000,7471.000000,7471.000000,6886.000000,7458.000000,7471.000000,7471.000000,7471.000000,7471.000000,7471.000000,7076.000000
mean,3736.000000,0.633784,28793.443180,4.293267,1.837932,2.289890,4.723598,3.626824,0.632044,0.958506,87.481997,4.881412
std,2156.836263,0.481802,29.064001,2.762739,1.125600,1.738629,0.617703,1.627228,0.482282,0.199443,107.129371,0.238291
min,1.000000,0.000000,28704.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1868.500000,0.000000,28801.000000,2.000000,1.000000,1.000000,5.000000,3.000000,0.000000,1.000000,13.000000,4.850000
50%,3736.000000,1.000000,28804.000000,4.000000,1.000000,2.000000,5.000000,4.000000,1.000000,1.000000,50.000000,4.930000
75%,5603.500000,1.000000,28806.000000,6.000000,2.000000,3.000000,5.000000,5.000000,1.000000,1.000000,121.000000,4.990000
max,7471.000000,1.000000,28806.000000,16.000000,9.000000,18.000000,5.000000,5.000000,1.000000,1.000000,1059.000000,5.000000

In [8]:
df.head(5)

,id,Decision,Host_response_time,Host_is_superhost,Host_has_profile_pic,Host_identity_verified,Neighbourhood,Property_type,Room_type,Accommodates,...,Beds,Essentials,Cooking,Balcony,Parking,Price,Number_of_reviews,Review_scores_rating,Instant_bookable,Month
0,1,1,within an hour,t,t,t,28806,Entire cabin,Entire home/apt,6,...,3.0,5,5,1,1,$164.00,90,4.93,t,August
1,2,1,within an hour,t,t,t,28804,Entire house,Entire home/apt,4,...,1.0,5,4,1,1,$101.00,522,4.69,t,June
2,3,0,within a few hours,t,t,t,28806,Private room in bungalow,Private room,1,...,1.0,5,3,1,1,$32.00,35,4.83,f,June
3,4,1,within an hour,t,t,t,28803,Entire condominium (condo),Entire home/apt,8,...,5.0,5,5,0,1,$381.00,11,5.00,t,September
4,5,0,within an hour,t,t,t,28805,Entire house,Entire home/apt,6,...,4.0,5,5,1,1,$238.00,63,4.70,f,July

In [22]:
df['Property_type'].value_counts()
# Significant
df.groupby(['Room_type', 'Decision'], dropna=False).size()
# Significant
df.groupby(['Host_is_superhost', 'Decision'], dropna=False).size()
# Unsignificant
df.groupby(['Host_has_profile_pic', 'Decision'], dropna=False).size()
# Significant
df.groupby(['Host_identity_verified', 'Decision'], dropna=False).size()
# Significant
df.groupby(['Accommodates', 'Decision'], dropna=False).size()
# Significant
df.groupby(['Host_response_time', 'Decision'], dropna=False).size()
# Significant
df.groupby(['Host_response_time', 'Decision'], dropna=False).size()

Host_response_time  Decision
a few days or more  0             19
                    1              5
within a day        0            180
                    1             82
within a few hours  0            289
                    1            220
within an hour      0           1717
                    1           4101
NaN                 0            531
                    1            327
dtype: int64

In [ ]:
plt.figure()
plt.

In [20]:
print(df.isna().sum())

id                          0
Decision                    0
Host_response_time        858
Host_is_superhost          96
Host_has_profile_pic       96
Host_identity_verified     96
Neighbourhood               0
Property_type               0
Room_type                   0
Accommodates                0
Bathrooms_text              0
Bedrooms                  585
Beds                       13
Essentials                  0
Cooking                     0
Balcony                     0
Parking                     0
Price                       0
Number_of_reviews           0
Review_scores_rating      395
Instant_bookable            0
Month                       0
dtype: int64

In [26]:
imputer = KNNImputer(n_neighbors=5)
a = pd.get_dummies(df)
imputer.fit_transform(a)

array([[1.0000e+00, 1.0000e+00, 2.8806e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0000e+00, 1.0000e+00, 2.8804e+04, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       [3.0000e+00, 0.0000e+00, 2.8806e+04, ..., 0.0000e+00, 1.0000e+00,
        0.0000e+00],
       ...,
       [7.4690e+03, 1.0000e+00, 2.8803e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [7.4700e+03, 1.0000e+00, 2.8801e+04, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [7.4710e+03, 1.0000e+00, 2.8801e+04, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+00]])